@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Oswald&display=swap');

body {
    color: #00A0F4;
}

.answer-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 10px;
    background: #00A0F4;
    font-size: 2rem;
    min-width: 80rem;
    color: #ffffff;
}

.answer-container:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.4rem 0 rgba(0, 160, 244, 0.8);
    transform: scale(1.1);
}