@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Oswald&display=swap');

body {
    color: #00A0F4;
}

/* Mutltiply choice answers */
.answer-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 10px;
    background: #00A0F4;
    font-size: 2rem;
    min-width: 80rem;
    color: #ffffff;
}

.answer-container:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.4rem 0 rgba(0, 160, 244, 0.8);
    transform: scale(1.05);
}

.answer-prefix {
    padding: 2rem 2.5rem;
}

.answer-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: #008000;
}

.incorrect {
    background: #ff0000;
}

/* Heads up display */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#displayBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid #008000;
    margin-top: .5rem;
    border-radius: 50px;
    overflow: hidden;
}

#displayBarProgress {
    height: 100%;
    background: #008000;
    width: 0%;
}
