@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Oswald&display=swap');


/* Mutltiply choice answers */
.selection-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 10px;
    background: #00A0F4;
    font-size: 2rem;
    color: #ffffff;
}

.selection-container:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.4rem 0 rgba(0, 160, 244, 0.8);
    transform: scale(1.05);
}

.selection-prefix {
    padding: 2rem 2.5rem;
}

.selection-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: #008000;
}

.incorrect {
    background: #ff0000;
}

/* Heads up display */
#hud {
    display: flex;
    justify-content: space-evenly;
}

.hud-prefix {
    text-align: center;
    font-size: 1.5rem;
}

.hud-main-text {
    text-align: center;
}

#displayBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid #008000;
    margin-top: .5rem;
    border-radius: 50px;
    overflow: hidden;
}

#displayBarProgress {
    height: 100%;
    background: #008000;
    width: 0%;
}

/* For small devices - 320px and up */
@media screen and (min-width: 320px) {

    .container {
        margin: 0;
    }
    #question {
        letter-spacing: normal;
        font-size: 1.5rem;
        padding-top: 30px;
    }

    .hud-prefix {
        text-align: center;
        font-size: 1rem;
    }

    #displayBar {
        width: 10rem;
        height: 1.5rem;
    }

    .hud-main-text {
        font-size: 1.8rem;
    }
}

/* For medium - large devices - 700px and up */
@media screen and (min-width: 700px) {
    .container {
        margin: 2rem auto;
    }

    #question {
        letter-spacing: normal;
        font-size: 2.2rem;
        padding-top: 0px;
    }

    .hud-prefix {
        text-align: center;
        font-size: 1.5rem;
    }

    #displayBar {
        width: 20rem;
        height: 3rem;
        border: 0.2rem solid #008000;
        margin-top: .5rem;
        border-radius: 50px;
        overflow: hidden;
    }

    .hud-main-text {
        font-size: 2.2rem;
    }
}