@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    background: #EFFBFF;
}

/* headings */

h1, h2 {
    font-family: Arvo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #00A0F4;
}

#header {
    text-align: center;
    font-size: 280%;
}

a {
    text-decoration: none;
}