@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: oswald, sans-serif;
    background: #E6F4F1;
}

/* headings */

h1 {
    font-family: Arvo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #00A0F4;
}

h2 {
    font-family: Arvo, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    font-size: 2.2rem;
    color: #00A0F4;
}

h3 {
    font-family: Arvo, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    color: #00A0F4;
}

#header {
    text-align: center;
    font-size: 2.6rem;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #00A0F4;
    color: #ffffff;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    max-width: 80rem;
    margin: 2rem auto;
    padding: 2rem;
}

#game {
    margin-top: 1rem;
}

#question {
    margin-bottom: 1.2rem;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#greek {
    margin-bottom: 2.5rem;
}

.button {
    font-size: 2rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    color: white;
    background: #00a0f4;
    border-radius: 10px;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.4rem 0 rgba(0, 160, 244, 0.8);
    transform: scale(1.1);
}

#highscore-button {
    background: #5e9cc2;
}

#highscore-button:hover {
    box-shadow: 0 0.5rem 1.4rem 0 rgba(94, 156, 194, 0.8);
}

.fa-ranking-star {
    font-size: 2rem;
    margin-left: 1rem;
}

/* End page styling */

.fa-sd-card {
    font-size: 2rem;
    margin-left: 1rem;
}

.fa-rotate-right {
    font-size: 2rem;
    margin-left: 1rem;
}

.fa-house-user {
    font-size: 2rem;
    margin-left: 1rem;
}

.finish-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 30rem;
}

input {
    width: 20rem;
    font-size: 1.5rem;
    margin-bottom: 16px;
    padding: 10px;
    border: 1px dotted #00a0f4;
    border-radius: 6px;
}

#uname {
    width: 100%;
    margin-bottom: 16px;
}

#save {
    margin: 15px 0;
    color: #000000;
}

.button:disabled {
    cursor: not-allowed;
}

/* Highscore page styling */
.totalScore {
    margin-bottom: 25px;
}

#homepage {
    margin-top: 25px;
}

#highScoresList {
    list-style: none;
}

.high-score {
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: #B05C00;
}

/* Media Queries */

/* Homepage and highscore page */

/* For small devices - 320px and up */
@media screen and (min-width: 320px) {

    /* header */
    #header {
        font-size: 1.7rem;
    }

    .button {
        width: 20rem;
        font-size: 1.5rem;
    }

    /* h2 on home page */
    #greek {
        letter-spacing: normal;
        font-size: 1.5rem;
        padding: 0 80px 0 80px;
    }

    /* finish div */
    #finish {
        margin-top: 100px;
    }

    /* finish-text h2 */
    #finish-text {
        font-size: 30px;
        padding: 0 80px 0 80px;
    }

    /* finish-text h3 */
    #save {
        font-size: 20px;
        padding: 0 80px 0 80px;
    }

    /* finish-text h3 */
    #uname {
        width: 60%;
    }
}

/* For small devices - 411px and up */
@media screen and (min-width: 411px) {

    /* header */
    #header {
        font-size: 1.9rem;
    }

    .button {
        width: 20rem;
        font-size: 1.5rem;
    }

    /* h2 on home page */
    #greek {
        letter-spacing: normal;
        font-size: 1.5rem;
        padding: 0 80px 0 80px;
    }

    /* finish div */
    #finish {
        margin-top: 50px;
    }

    /* finish-text h2 */
    #finish-text {
        font-size: 30px;
    }

    /* finish-text h3 */
    #save {
        font-size: 20px;
    }

    /* finish-text h3 */
    #uname {
        width: 80%;
    }
}

/* For medium devices - 700px and up */
@media screen and (min-width: 700px) {

    /* header */
    #header {
        font-size: 2.6rem;
    }

    .button {
        width: 20rem;
        font-size: 2rem;
    }

    /* h2 on home page */
    #greek {
        font-size: 2.6rem;
        padding: 0px;
    }

    /* finish div */
    #finish {
        margin-top: 30px;
    }

    /* finish-text h2 */
    #finish-text {
        font-size: 2.2rem;
    }

    /* finish-text h3 */
    #save {
        font-size: 1.5rem;
    }

    /* finish-text h3 */
    #uname {
        width: 100%;
    }
}